<?xml version="1.0" encoding="UTF-8"?>
<!-- we need to set packages as  our custom appenders' base package path -->
<Configuration packages="com.sakinramazan.ghclogger.customappender" status="WARN" monitorInterval="25">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <!-- we can set generic base path here -->
        <Property name="BASE_PATH">C:\\logs</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="sampleFileLogger" fileName="${BASE_PATH}/app-info.log"
                     filePattern="${BASE_PATH}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <!-- we can use generic pattern here as well like below -->
            <!-- <PatternLayout pattern="${LOG_PATTERN}"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="errorLogger" fileName="${BASE_PATH}//app-error.log"
                     filePattern="${BASE_PATH}/app-error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="15000KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Sample Logging to mail appender -->
        <SMTP name="mail" subject="Error Log" to="sample-to@mail.com" from="sample-from@mail.com"
              smtpHost="mail.foo.example.com" smtpPort="465" smtpUsername="sample-from@mail.com" smtpPassword="*******"
              smtpProtocol="smtps"
              bufferSize="50">
            <HtmlLayout/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </SMTP>

        <MyAppender name="MyCustomAppender"/>

    </Appenders>

    <Loggers>
        <Logger name="com.sakinramazan" level="debug" additivity="true">
            <appender-ref ref="sampleFileLogger"/>
        </Logger>
        <Logger name="com.sakinramazan" level="debug" additivity="false">
            <appender-ref ref="errorLogger"/>
        </Logger>
        <Logger name="scratch" level="DEBUG" additivity="false">
            <AppenderRef ref="mail" level="ERROR"/>
        </Logger>
        <Logger name="scratch" level="DEBUG" additivity="false">
            <AppenderRef ref="MapAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>